
.list_row_right.slider_right{
	height:400px;
	overflow:hidden;
}
.list_row_right.slider_right marquee>a{
	display:block;
}
.list_row_right.slider_right marquee{
	height:400px;
}

@media (max-width: 390px) {
	div div .slider_right .slide a{
		width:100%;
	}
	div .tab_tintuc a{
		font-size:80%;
	}
}
/* Larger than mobile */
@media (max-width: 430px) {
	div div .column_footer{
		width:100%;
		margin-bottom:10px;
	}
	div .item_vietgap{
		width:100%;
		margin-bottom:10px;
	}
	
	div .form_dangnhap.show_login {
		left: 0;
		margin-left: 0; 
		margin: 5%;
		width:90%;
	}
}
@media (max-width: 440px) {
	div .top_link{
		width:100%;
		text-align:center;
		    border-bottom: 1px solid #296FB4;
	}
	div .top_link a
	}
	div .header_top .wrapper{
		/*padding-top:70px;*/
	}
}
@media (min-width: 490px) {
	.show_height_row{
		display:block !important;
	}
	
}
@media (max-width: 630px) {
	article.row_right:nth-child(3),
	article.row_right:nth-child(4),
	article.row_right:nth-child(5),
	article.row_right:nth-child(6){
		display:none;
	}
}
@media (max-width: 490px) {
	article.row_right:nth-child(3),
	article.row_right:nth-child(4),
	article.row_right:nth-child(5),
	article.row_right:nth-child(6){
		display:none;
	}
	article.row_right:nth-child(1){
	}
	div .dangvadoanthe{
		display:none;
	}
	div.title_list_top{
		position:absolute;
		width:25%;
		top:10px;
		
	}
	.tonghopGia_tuan div.title_list_top{
		left:25%;
		
	}
	.tonghopGia div.title_list_top{
		left:50%;
		
	}
	.price_ag_top div.title_list_top{
		left:75%;
		
	}
	
	div.header_footer{
		position:relative;
	}
	.title_list_top{
		cursor:pointer;
	}
	.show_height_row{
		display:none;
	}
	div.fix_one_row{
		display:none;
	}
	.list_price{
		margin-top:30px;
	}
	div div .post_new_top, 
	div div .tonghopGia_tuan, 
	div div .tonghopGia, 
	div div .price_ag_top{
		width:100%;
		position:inherit;
		padding-left:0;
		min-height:30px;
		display:none;
		
	}
	div div .list_thongbao{
		    -moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

/* Larger than phablet */
@media (max-width: 500px) {
	div div .list_item_album{
		width:100%;
		margin:0;
	}
	
	.top_link> a{
		padding:0 5px;
	}
}

/* Larger than phablet */
@media (max-width: 600px) {
	div .form_search{
		width:100%;
		
	}
	div .search_form .tukhoa{
		width:100%;
		
	}
	
}
@media (max-width: 650px) {
	div .form_lienhe form{
		width:100%;
		float:none;
	}
	div .column_itpc,
	div .form_lienhe div textarea{
		max-width:100%;
		min-width:100%;
	}
	div .form_lienhe form div{
		width:100%;
		
	}
	div .form_lienhe div input{
		width:100%;
	}
	div .lienhe_compa{
		padding-left:0;
		padding-top:50px;
		
	}
	div .column_itpc_w .list_row_itpc{
		moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
	border:none;
	}
	div .column_itpc_w .item_row_itpc{
		padding:10px 0;
		
	}
	
}
@media (max-width: 670px) {
	div .itpc_column{
		width:100%;
	}
	div .itpc_events,
	div .itpc_tintuc{
		width:100%;
		padding:0;
	}
	div .icon_vietgap{
		font-size:500%;
	}
	div .list_item_album{
		margin:0.80%;
	}
	div.list_tuyendung{
		    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
	}
	div .video_item{
		width:47%;
	}
}
@media (max-width: 680px) {
	
}
@media (max-width: 730px) {
	.thongbaotuongthich{
		display:none;
	}
	div .copy_right_w{
		text-align:center;
	}
}
/* Larger than tablet */
@media (max-width: 850px) {
	div .column_footer.thongtin_ct{
		width:100%;
		margin-bottom:20px;
	}
	div .column_footer{
		width:50%;
		
	}
	div .hinhanh_cl{
		padding-right: 0;
	}
	div .video_cl{
		padding-left:0;
	}
} 

/* Larger than desktop */
@media (max-width: 580px) {
	div .top_list_new{
		width:100%;
		padding-right:0;
	}
	div .list_news.owl-carousel{
		width:100%;
	}
	div .list_news .item_new{
		padding:5px;
	}
	div .list_chirent .item_new{
		width:100%;
		
	}
	div .list_chirent .item_new:nth-child(2n+0){
		padding-left:0;
		margin-left:0;
	}
}

@media (max-width: 920px){
	div .left_container{
		padding-right:0;
		width:100%;
	}
	div .right_container{
		width:100%;
	}
	.r_donvihotro{
		display:inline-block;
		width:100%;
	}
	.r_donvihotro>a{
		width:33.33%;
		display:block;
		float:left;
		padding:0 10px;
	}
	div .list_thongbao{
		    -moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	div .slider_right .slide{
		display:inline-block;
	}
	div .slider_right .slide a{
		display:block;
		width:33.3333334%;
		float:left;
		text-align:center;
		padding:0 10px;
	}
	div .slider_right .slide a img{
		display:inline-block;
	}
}
/* Larger than Desktop HD */
@media (max-width: 980px) {
	div .post_new_top, div .tonghopGia_tuan, div .tonghopGia, div .price_ag_top{
		width:50%;
		margin-bottom:10px;
		max-height: 312px;
		overflow: hidden;
	}
	div .tonghopGia{
		padding-left:0;
	}
	div .header_footer .wrapper{
		padding-bottom:10px;
	}
}

@media (max-width: 940px) {
	div.home_menu, div.open_menu{
		display:block;
	}
	.des_menu{
		display:none !important;
	}
	.mobile_wrapper{
		display:none;
		position:absolute;
		top:43px;
		width:260px;
		max-width:80%;
		z-index:99;
		float:none;
		     border: 1px solid #CDCDCD; 
			 border-left:none;
		border-top:none;
		background:#FFF;
	}
	.mobile_wrapper .sub_item {
		float:none;
		width:100%;
		
	}
	.mobile_wrapper .menu_item{
		position:relative;
		width:100%;
		background: #EFF0F0;
    	margin-bottom: 5px;
		
	}
	.mobile_wrapper .menu_item>a{
		border-left:3px solid #666;
		
	}
	.mobile_wrapper .menu_item:last-child{
		margin-bottom:0;
	}
	.mobile_wrapper li.menu_item>a{
		width:85%;
		color:#296FBD;
		padding-right:30px;
		
	}
	.mobile_wrapper li.menu_item>a>i{
		right:0;
		color:#296FB4;
		position:absolute;
		width:15%;
		text-align:center;
		margin-right:-15%;
		display:none;
	}
	.mobile_wrapper   .wrapper_sub>li{
		position:relative;
	}
	.mobile_wrapper .wrapper_sub>li i.fa-angle-down{
		display:none;
	}
	div .header_container .wrapper_sub{
		position:relative;
		border:none;
		width:100%;
		border:1px solid #E2E0E0;
		border-left:none;
		border-right:none;
		background: #F5F5F5;
		border-left:3px solid #989898;
	}
	div .wrapper_sub>li>a{
		padding:7px 15px;
	}
	div .wrapper_sub span.icon_open_mb{
		    width: 35px;
    		height: 38px;
	}
	div .wrapper_sub span.icon_open_mb i{
		    width: 35px;
    		height: 38px;
			line-height:38px;
			color:#333;
			font-size:80%;
	}
	div .header_container .wrapper_sub .wrapper_sub_chiren{
		position:relative;
		width:100%;
		margin-top:0;
		margin-left:0;
		border:none;
	}
	div .header_container .wrapper_sub>li{
		width:100%;
		position:relative;
		display:inline-block;
		width:100%;
	}
	div  .nav_page{
		height:auto;
	}
	div .destop_thongbao_icon{
		display:none;
	}
	div .mobile_hoithi_icon{
		font-size:150%;
		display:block;
	}
	.homemenu_item {
		display:none;
	}
	.sub_item_chiren{
		padding-left:15px;
	}
}
@media (max-width: 1070px) {
	.timkiem_gia label{
		width:100%;
		display:inline-block;
	}
	div .timkiem_nongsan>form>div select{
		width:100%;
		
	}
	div .timkiem_nongsan>form>div{
		width:17%;
		float:left;
	}
	div .timkiem_nongsan>form>div:first-child{
		width:32%;
	}
	div .timkiem_gia_btn{
		margin-top:20px;
		width:85%;
	}
}
@media (max-width: 1120px) {
	.header_top .wrapper{
		padding-top:35px;
		}
	div.right_header_top{
		position:absolute;
		top:0;
		padding:0;
		padding-top:0;
		width:100%;
		background:#333;
	}
	div .top_link> a{
		line-height:25px;
		color:#FFF;	
		border:none;	
	}
	div .top_link> a:last-child{
		/*border-right:1px solid #929292;	*/
	}
	div .top_link> a:hover{
		color:#E07800;		
	}
	div .top_link{
		padding:5px 0;		
		float:left;
	}
	div .user_infore{
		padding-top:0;
		
		margin-top:0;
		float:right;
		padding: 5px 0;
		padding-right:10px;
	}
	div .user_infore a{
		line-height:25px;
		color:#FFF;	
	}
	div .user_infore a:hover{
		color:#E07800;	
	}
	div .form_dangnhap{
		top:60px;
	}
	.left_header_top{
		width:100%;
		text-align:center;
	}
}

@media (max-width: 1200px) {
	div.footer .wrapper{
		padding-left:10px;
		padding-right:10px;
	}
	div .right_header_top,
	div .left_header_top{
		padding-left:10px;
		padding-right:10px;
	}
	.copy_right_w>div{
		padding-right:20px;
	}
}

@media (max-width: 1285px) {
	div.back_top{
		background:#FFF;
		margin-left:0;
		right:5px;
	}

}
