.bx-wrapper {
	position: relative;
	/*margin: 0 auto 10px;*/
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
	width:100%;
}

/** THEME
===================================*/
.bxslider{
	margin:0;
	padding:0;
}
.bx-wrapper .bx-viewport {
	/*-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;*/
/*	border-bottom:  5px solid #fff;
	border-top:  5px solid #fff;*/
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
.hinhanh222 .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom:  none;
	border-top:  none;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}


/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	/*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 9px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #FFF;
	border:2px solid rgb(100, 46, 46);
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #4d2624;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/arrow-prev.png) no-repeat;
}
.bx-wrapper .bx-prev:hover {
	background: url(../images/arrow-prev-hover.png) no-repeat;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/arrow-next.png) no-repeat;
}
.bx-wrapper .bx-next:hover {
	background: url(../images/arrow-next-hover.png) no-repeat;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 99;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


.banner_top .bx-pager.bx-default-pager{
	display:none;
    width: 100%;
	text-align:center;
    z-index: 100;
	height:27px;
	position:absolute;
	left:10px;
	bottom:15px;
}
.list_row_right .bx-controls{
	display:block;
	    
}
.list_row_right .bx-pager.bx-default-pager{
	display:none;
}
.list_row_right .bx-wrapper .bx-controls-direction a.bx-prev{

	background:url(../images/website/arrow-prev-h.png) no-repeat center center;
	background-size: 20px;
}
.list_row_right .bx-wrapper .bx-controls-direction a.bx-next{
	/*margin-bottom:-26px;
	bottom: 0 !important;
	top:inherit;*/
	right:27px;
	background:url(../images/website/arrow-next-h.png) no-repeat center center;
	background-size: 20px;
}
.list_row_right .bx-wrapper .bx-controls-direction a.bx-prev:hover{
	background:url(../images/website/arrow-prev-hover-h.png) no-repeat center center;
	background-size: 20px;
}
.list_row_right .bx-wrapper .bx-controls-direction a.bx-next:hover{
	background:url(../images/website/arrow-next-hover-h.png) no-repeat center center;
	    background-size: 20px;
}
.list_row_right .bx-wrapper .bx-controls-direction a{
	top:-26px;
	left:inherit;
	right:-3px;
	/*left:50% !important;
	margin-top:inherit;
	margin-left:-23px;*/
	    width: 28px;
    height: 28px;
	background-color:#FFF !important;
	box-shadow: inset 0px 0px 5px #018307;
	    border: 1px solid #47AB69;
}
.list_row_right .bx-controls a{
	/*transform: rotate(90deg);*/
}
.bx-controls{
	display:none;
}
.doitac{
	position:relative;
}
.doitac:hover .bx-controls{
	display:block;
}
.banner_top:hover .bx-controls{
	display:block;
}
